.coin-widget {
    /* Flex Container Styles */
    display: flex;
    flex-direction: column;
    align-items: left;
  
    /* Border and Dimension Styles */
    border: 1px solid #ddd;
    border-radius: 50px;
    width : 150vh;
    margin: 0 auto;
    background-color: rgb(26, 17, 17);
    margin: 1vh;
    font-size: 13px;
  }
  
  .info{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-style: solid;
    border-width: 1px;
  }
  
  .nameNticker{
    width: 38vh;
    overflow: hidden;
    margin-left: 7vh;
    text-align: left;
  }

  .nameNticker h2{
    margin: 0;
  }


  .lat{
    width: 8vh;
  }
  
  .timest{
    width: 30vh;
  }
  
  .button{
    width: 20vh;
  }